@import '~antd/dist/antd.css';

.App {
  position: relative;
}

.App .kiosk-container2 {
  text-align: center;
  margin: auto auto 30px auto;
  border: 4px solid #5263;
  border-radius: 10px;
}
.App .kiosk-container2 .kiosk-camera2 {
  font-size: 5em;
}

.center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  border-style: solid;
  /*Crossbrowser motherfucker*/
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

 .container{
   width: 960px!important;
   background-color: #f2f2f2;
 }
 
 .bgmap{
  padding: 10px 10px 10px 10px;
  width: 70vw;
  height: 80vh;
  border-radius: 20px;
 }
 
 p {
   margin: 0;
 }
 
 .row {
   margin: 0;
 }
 
 .pin{
   box-shadow: 0px 5px 9px rgb(2 2 2 / 14%);
   font-size: 80px;
   color: #e74c3c;
 }
 
 .article {
   color: #222;
   border-spacing: 2px;
   border-color: gray;
   font-family: arial,sans-serif;
 }
 
 
 .item {
   cursor: pointer;
 }

 .description {
  font-size: 16px;
}
 
 .caret {
   position: relative;
   cursor: pointer;
 }
 .caret:before {
   content: '';
   position: fixed;
   top: 47px;
   left: 445px;
   border-top: 12px solid #fff;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
 }

 .pos1 {
  position: fixed;
  top: 300px;
  left: 300px;
 
} 
 .desc1{
   position: fixed;
   top: 03px;
   left: 420px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0px 5px 9px rgba( 2, 2, 2, 0.14 );
   border-radius: 3px;
 }  
 
 .pos2 {
  position: fixed;
  top: 180px;
  left: 550px;
  }
 .caret2 {
   position: relative;
   cursor: pointer;
 }
 .caret2:before {
   content: '';
   position: fixed;
   top: 61px;
   left: 469px;
   border-top: 12px solid #fff;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
 }
 .desc2{
   position: fixed;
   top: 16px;
   left: 452px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0px 5px 9px rgba( 2, 2, 2, 0.14 );
   border-radius: 3px;
 }  
 
 .caret3 {
   position: relative;
   cursor: pointer;
 }
 .caret3:before {
   content: '';
   position: fixed;
   top: 60px;
   left: 545px;
   border-top: 12px solid #fff;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
 }

.pos3 {
    position: fixed;
    top: 410px;
    left: 400px;
}

 .desc3{
   position: fixed;
   top: 65px;
   left: 521px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0px 5px 9px rgba( 2, 2, 2, 0.14 );
   border-radius: 3px;
 }  
 
 .caret4 {
   position: relative;
   cursor: pointer;
 }
 .caret4:before {
   content: '';
   position: fixed;
   top: 158px;
   left: 668px;
   border-top: 12px solid #fff;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
 }
 .pos4{
   position: fixed;
   top: 175px;
   left: 670px;
 }
 .desc4{
   position: fixed;
   top: 111px;
   left: 627px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0px 5px 9px rgba( 2, 2, 2, 0.14 );
   z-index: 1;
   border-radius: 3px;
 }  
 
 .caret5 {
   position: relative;
   cursor: pointer;
 }
 .caret5:before {
   content: '';
   position: fixed;
   top: 158px;
   left: 734px;
   border-top: 12px solid #fff;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
 }
 .pos5{
   position: fixed;
   top: 172px;
   left: 735px;
  }
 .desc5{
   position: fixed;
   top: 112px;
   left: 685px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0px 5px 9px rgba( 2, 2, 2, 0.14 );
   border-radius: 3px;
 }  
 

 .caretpina {
   position: relative;
   cursor: pointer;
 }
 .caretpina:before {
   content: '';
   position: fixed;
   top: 368px;
   left: 881px;
   border-top: 12px solid #fff;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
 }

 
 /* Buzz */
 @-webkit-keyframes hvr-buzz {
   50% {
     -webkit-transform: translateX(3px) rotate(2deg);
     transform: translateX(3px) rotate(2deg);
   }
 
   100% {
     -webkit-transform: translateX(-3px) rotate(-2deg);
     transform: translateX(-3px) rotate(-2deg);
   }
 }
 
 @keyframes hvr-buzz {
   50% {
     -webkit-transform: translateX(3px) rotate(2deg);
     transform: translateX(3px) rotate(2deg);
   }
 
   100% {
     -webkit-transform: translateX(-3px) rotate(-2deg);
     transform: translateX(-3px) rotate(-2deg);
   }
 }
 
 .hvr-buzz {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
 }
 .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
   -webkit-animation-name: hvr-buzz;
   animation-name: hvr-buzz;
   -webkit-animation-duration: 0.15s;
   animation-duration: 0.15s;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
 }
 
 /* Pulse */
 @-webkit-keyframes hvr-pulse {
   25% {
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
   }
 
   75% {
     -webkit-transform: scale(0.9);
     transform: scale(0.9);
   }
 }
 
 @keyframes hvr-pulse {
   25% {
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
   }
 
   75% {
     -webkit-transform: scale(0.9);
     transform: scale(0.9);
   }
 }
 
 .hvr-pulse {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
 }
 .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
   -webkit-animation-name: hvr-pulse;
   animation-name: hvr-pulse;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
 }
 
 